{% macro render_dashboard_card(title, value, icon, color="primary", size="col-md-3") %}
    <div class="{{ size }} mb-3">
        <div class="card bg-{{ color }} text-white">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="card-title">{{ value }}</h4>
                        <p class="card-text">{{ title }}</p>
                    </div>
                    <div class="align-self-center">
                        <i class="{{ icon }} fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_host_dashboard_card(title, value, icon) %}
    <div class="dashboard-card host">
        <div class="d-flex justify-content-between">
            <div>
                <h4 class="card-title">{{ value }}</h4>
                <p class="card-text">{{ title }}</p>
            </div>
            <div class="align-self-center">
                <i class="{{ icon }} fa-2x"></i>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_quick_actions_card(title, actions) %}
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <i class="fas fa-bolt me-2"></i>{{ title }}
            </h5>
        </div>
        <div class="card-body">
            <div class="row">
                {% for action in actions %}
                <div class="col-md-{{ 12 // actions|length }} mb-3">
                    <a href="{{ action.url }}" class="btn {{ action.class }} w-100">
                        <i class="{{ action.icon }} me-2"></i>{{ action.text }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %} 